"*":
  "autocomplete-plus":
    autoActivationDelay: 200
    confirmCompletion: "tab"
    includeCompletionsFromAllBuffers: false
    maxVisibleSuggestions: 5
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "vim-mode-plus-ex-mode"
      "language-gfm"
      "language-toml"
      "language-rust-bundled"
      "language-python"
      "language-php"
      "language-perl"
      "language-mustache"
      "language-make"
      "language-less"
      "language-java"
      "language-go"
      "language-coffee-script"
      "language-clojure"
      "intentions"
      "linter"
      "linter-ui-default"
      "linter-ruby"
      "exception-reporting"
      "metrics"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    atomicSoftTabs: false
    fontSize: 18
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "language-markdown":
    addListItems: false
    autoIncrementListItems: false
  "linter-ui-default": {}
  "markdown-image-assistant":
    preserveFileNameInAssetsFolder: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
